<h1>Room Finder</h1>
<div style="margin-left: 200px;">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu" (mouseover)="floorClicked(f)" *ngFor="let f of floors">{{f}}</button>
  </mat-menu>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item *ngFor="let r of rooms">{{r}}</button>
  </mat-menu>
</div>


  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of sideItems" (click)="buildingClicked(item)">{{item}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <p><button mat-button (click)="sidenav.toggle()"></button></p>
      <p *ngFor="let content of fillerContent">{{content}}</p>

    </mat-sidenav-content>
  </mat-sidenav-container>
